## Exercises
Continue in your classification_exercises.ipynb notebook. As always, add, commit, and push your changes.

Section 1 - iris_db: Using iris data from our mySQL server and the methods used in the lesson above:

Acquire, prepare & split your data.

In [5]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.model_selection import train_test_split

np.random.seed(123)

In [1]:
import acquire
import prepare
import split

df = acquire.get_iris_db()
df = prepare.prep_iris(df)
df.head()

      species  species_versicolor  species_virginica
0      setosa                   0                  0
1  versicolor                   1                  0
2   virginica                   0                  1

## Exercises Part II
Explore your titanic dataset more completely.

Determine drivers of the target variable
Determine if certain columns should be dropped
Determine if it would be valuable to bin some numeric columns
Determine if it would be valuable to combine multiple columns into one.
Does it make sense to combine any features?

Do you find any surprises?

Document any and all findings and takeaways in your notebook using markdown.

In [2]:
# put the data through our acquire, prep and split functions
df = acquire.get_titanic_data()
df = prepare.prep_titanic(df)
train, test, validate = split.train_validate_test_split(df, 'survived')

In [11]:
# determine the size of the resulting dataframe
train.shape

(498, 13)

In [12]:
train.head()

,survived,pclass,sex,age,sibsp,parch,fare,deck,embark_town,alone,embark_town_Queenstown,embark_town_Southampton,sex_male
583,0,1,male,36.0,0,0,40.1250,A,Cherbourg,1,0,0,1
165,1,3,male,9.0,0,2,20.5250,NaN,Southampton,0,0,1,1
50,0,3,male,7.0,4,1,39.6875,NaN,Southampton,0,0,1,1
259,1,2,female,50.0,0,1,26.0000,NaN,Southampton,0,0,1,0
306,1,1,female,NaN,0,0,110.8833,NaN,Cherbourg,1,0,0,0

In [13]:
#determine the amount of null data
train.isna().sum()

survived                     0
pclass                       0
sex                          0
age                         97
sibsp                        0
parch                        0
fare                         0
deck                       392
embark_town                  1
alone                        0
embark_town_Queenstown       0
embark_town_Southampton      0
sex_male                     0
dtype: int64

In [14]:
# ...and then as a percentage
train.isna().mean()

survived                   0.000000
pclass                     0.000000
sex                        0.000000
age                        0.194779
sibsp                      0.000000
parch                      0.000000
fare                       0.000000
deck                       0.787149
embark_town                0.002008
alone                      0.000000
embark_town_Queenstown     0.000000
embark_town_Southampton    0.000000
sex_male                   0.000000
dtype: float64

In [16]:
## Takeaway: deck is 79% null, so I'm going to drop this column.
train = train.drop(columns=['deck'])
train.head()

,survived,pclass,sex,age,sibsp,parch,fare,embark_town,alone,embark_town_Queenstown,embark_town_Southampton,sex_male
583,0,1,male,36.0,0,0,40.1250,Cherbourg,1,0,0,1
165,1,3,male,9.0,0,2,20.5250,Southampton,0,0,1,1
50,0,3,male,7.0,4,1,39.6875,Southampton,0,0,1,1
259,1,2,female,50.0,0,1,26.0000,Southampton,0,0,1,0
306,1,1,female,NaN,0,0,110.8833,Cherbourg,1,0,0,0

In [ ]:
# Now formulate questions to explore:
# Are the following related to our target variable, 'survived':
# alone, sex, pclass

## Exercises Part III
Explore your telco data to discover drivers of churn
Determine if certain columns should be dropped
Determine if it would be valuable to bin some numeric columns
Determine if it would be valuable to combine multiple columns into one.
What are your drivers of churn?

Does it make sense to combine any features?

Do you find any surprises?

Document any and all findings and takeaways in your notebook using markdown.